[submodule "lvgl"]
	path = lvgl
	url = https://www.github.com/lvgl/lvgl.git
[submodule "external/hagl_pico_mipi"]
	path = external/hagl_pico_mipi
	url = http://www.github.com/tuupola/hagl_pico_mipi
[submodule "external/hagl"]
	path = external/hagl
	url = http://www.github.com/tuupola/hagl
